body {
  font-family: Arial, sans-serif;
  background-color: lightblue;
}

.container {
  width: 50%;
  margin: 50px auto;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"] {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
